/*Charte - Bleu #0065FC - Bleu Clair #DEEBFF - Blocks Background Color #F2F2F2*/

/* Normalize */

    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

    /* Basic Settings */

    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body{
        font-family: 'Raleway', sans-serif;
        background-color: white;
        color: black;
    }

    /* Text Bold */

    .bold{
        font-weight: bold;
    }

    /* HyperText */

    a{
        text-decoration: none;
        color: black;
    }

    a:visited{
        color: black;
    }

    /* Footer */

    footer{
        display: flex;
        flex-direction: column;
        text-align: left;
        position: absolute;
        justify-content: space-around;

        background-color: #F2F2F2;

        left: 0;
        right: 0;
        padding-left: 20px;
    }


/* Navigation */
ul.nav{
    height: 70px;

    list-style-type: none;

    display: flex;
    flex-direction: row; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

a.navlink{
    color: #0065FC;
    
    height: 40px;
    width: 160px;
    line-height: 90px;

    margin-right: 25px;
    margin-left: 25px;
    top: 0px;
}

li#active{
    border-bottom: 2px solid #0065FC;
}

li#inactive{
    border-bottom: 2px solid #F2F2F2;
}

/* Logo */

img.logo{
    height: 45px;
    width: 95px;
}

a.logobox{
    display: flex;
    justify-content: center;
}

/* Barre de recherche */
div.searchbar{
    margin-left: 15px;
    margin-bottom: 20px;
    height: 50px;
    width: 350px;
    line-height: 50px;

    border: 2px solid #F2F2F2;  
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    text-align: center;
}

div.searchbar i{
    background-color: #F2F2F2;
    font-size: 1.2em;

    width: 50px;
    border-radius: 10px 0px 0px 10px;

    line-height: 50px;
    vertical-align: middle;
}

div.searchbar a i{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    vertical-align: middle;

    width: 50px;
    border-radius: 15px;
    visibility: visible;
}

div.searchbar a span.searchtext{
    display: none;
}

div.searchbar input{
    height: 50px;
    width: 250px;
    border: 0;

    font-size: large;
    font-weight: bold;
}

div.searchbar input:focus{
    border: 0;
}

/* Filtres */
div.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.filter p{
    font-weight: bold;
    line-height: 35px;
    margin-right: 10px;
}

span.filterico{
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 1.1em;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: #DEEBFF;
    color: #0065FC;
    text-align: center;
    display: block;
}

span.filterico:hover{
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transition-duration: 0.2s;
}

a#FilterEco{
    background-color: white;

    margin: 10px;
    padding-right: 10px;
    height: 45px;

    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterEco:hover{
    background-color: #0065FC;
    color: white;
}

a#FilterFamilly{
    background-color: white;

    margin: 10px;
    padding-right: 10px;
    height: 45px;

    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterFamilly:hover{
    background-color: #0065FC;
    color: white;
}

a#FilterRomantic{
    background-color: white;

    margin: 10px;
    padding-right: 10px;
    height: 45px;

    border-radius: 35px;
    border: 3px solid #F2F2F2;

    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterRomantic:hover{
    background-color: #0065FC;
    color: white;
}

#FilterPets{
    background-color: white;

    margin: 10px;
    padding-right: 10px;
    height: 45px;
    
    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterPets:hover{
    background-color: #0065FC;
    color: white;
}

/* info */
div.info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    line-height: 15px;
}

i#infoico{
    background-color: white;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 30px;

    height: 5px;
    width: 5px;
    padding: 10px;
    margin: 5px;
    line-height: 5px;

    display: block;
    text-align: center;
}

/* Blocks Normalization */

div.blocksingle{
    margin: 5px;
    height: 210px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
}

.blocksingle p{
    margin: 5px;
    padding-left: 15px;
}

.blocksingle span{
    margin: 5px;
    padding-left: 15px;
}

.blocksingle img{
    height: 120px;
    width: 290px;
    border-radius: 15px 15px 0px 0px;

    object-fit: cover;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
}

#reco-trend{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.stars{
    color: #0065FC;
    font-size: 0.75em;
}

/* Blocks recommandation */
h3.boxtitle{
    font-weight: bolder;
}

p.bottomtext{
    font-weight: bolder;
    font-size: 1.1em;
}

#blockreco{
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.recorow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Blocks tendances */
#blocktrend{
    min-height: 630px;
    min-width: 420px;
    max-height: 630px;
    max-width: 420px;
    margin: 20px;

    background-color: #F2F2F2;
    overflow: hidden;
    position: relative;
}

.columntrend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.trend-title-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

div.trend-title-box i{
    font-size: x-large;
    margin-top: 25px;
    margin-right: 40px;
}

h3.trendtitle{
    margin-top: 30px;
    margin-left: 35px;
}

.blocktrend{
    margin: auto;
    height: 145px;
    width: 345px;
    margin-bottom: 20px;

    background-color: white;

    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.blocktrend img{
    height: 135px;
    width: 125px;
    margin: 5px;
    border-radius: 15px 0px 0px 15px;

    object-fit: cover;
    float: left;
}

.blocktrend p{
    padding: 5px;
}

.blocktrend span.stars{
    display: flex;
}

/* Blocks activitées */
#blockact{
    margin: 10px;
    height: auto;
    width: auto;

    overflow: hidden;
    position: relative;
    justify-content: stretch;
    align-items: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blockactlarge{
    margin: 5px;
    height: 200px;
    width: 300px;

    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);

    background-color: white;

    display: flex;
    flex-direction: column;
}

.blockactlarge img{
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.blockactlarge p{
    padding-left: 15px;
}

.blockactmedium{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);

    background-color: white;

    display: flex;
    flex-direction: column;
}

.blockactmedium img{
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.blockactmedium p{
    padding-left: 15px;
}

.blockactsmall{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);

    background-color: white;
    
    display: flex;
    flex-direction: column;
}

.blockactsmall img{
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.blockactsmall p{
    padding-left: 15px;
}

.Column{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}