/*Charte - Bleu #0065FC - Bleu Clair #DEEBFF - Blocks Background Color #F2F2F2*/

/* Normalize */

    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

    /* Basic Settings */

    html {
        box-sizing: border-box;
    }

    body{
        font-family: 'Raleway', sans-serif;
        background-color: white;
        color: black;
    }

    /* Text Bold */

    .bold{
        font-weight: bold;
    }

    /* HyperText */

    a{
        text-decoration: none;
        color: black;
    }

    a:visited{
        color: black;
    }

    /* Footer */

    footer{
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        text-align: left;
        position: absolute;
        justify-content: space-around;
        background-color: #F2F2F2;
        left: 0;
        right: 0;
    }


/* Navigation */
ul.nav{
    position: absolute;
    list-style-type: none;
    top: 0;
    right: 0;
    margin-top: 0px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

a.navlink{
    color: #0065FC;
    height: 40px;
    width: 160px;
    line-height: 90px;
    margin-right: 25px;
    margin-left: 25px;
    right: 0;
    top: 0;
}

li#active{
    border-top: 2px solid #0065FC;
}

/* Logo */

img.logo{
    height: 45px;
    width: 95px;
    align-items: center;
}

/* Barre de recherche */
div.searchbar{
    height: 50px;
    width: 350px;
    border: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: stretch;
    line-height: 50px;
    text-align: center;
    margin-bottom: 30px;
}

div.searchbar i{
    background-color: #F2F2F2;
    width: 50px;
    font-size: 1.2em;
    border-radius: 15px 0px 0px 15px;
    line-height: 50px;
    vertical-align: middle;
}

div.searchbar a i{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    vertical-align: middle;
    width: 50px;
    border-radius: 15px;
    visibility: visible;
}

div.searchbar a span{
    display: none;
}

div.searchbar input{
    height: 50px;
    width: 250px;
    font-size: large;
    font-weight: bold;
    border: 0;
}

div.searchbar input:focus{
    border: 0;
}

/* Filtres */
div.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.filter p{
    line-height: 35px;
    font-weight: bold;
    margin-right: 10px;
}

span.filterico{
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 1.1em;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: #DEEBFF;
    color: #0065FC;
    text-align: center;
    display: block;
}

span.filterico:hover{
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transition-duration: 0.2s;
}

a#FilterEco{
    margin: 10px;
    padding-right: 10px;
    height: 45px;
    background-color: white;
    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterEco:hover{
    background-color: #0065FC;
    color: white;
}

a#FilterFamilly{
    margin: 10px;
    padding-right: 10px;
    height: 45px;
    background-color: white;
    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterFamilly:hover{
    background-color: #0065FC;
    color: white;
}

a#FilterRomantic{
    margin: 10px;
    padding-right: 10px;
    height: 45px;
    background-color: white;
    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterRomantic:hover{
    background-color: #0065FC;
    color: white;
}

#FilterPets{
    margin: 10px;
    padding-right: 10px;
    height: 45px;
    background-color: white;
    border-radius: 35px;
    border: 3px solid #F2F2F2;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#FilterPets:hover{
    background-color: #0065FC;
    color: white;
}

/* info */
div.info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    line-height: 15px;
}

i#infoico{
    background-color: white;
    border: 2px solid #F2F2F2;
    padding: 10px;
    border-radius: 30px;
    color: #0065FC;
    margin: 5px;

    display: block;
    height: 5px;
    width: 5px;
    line-height: 5px;
    text-align: center;
}

/* Blocks Normalization */
div.blocksingle{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocksingle p{
    margin: 5px;
}

.blocksingle img{
    height: 120px;
    width: 290px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

#reco-trend{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.stars{
    color: #0065FC;
    font-size: 0.75em;
}

/* Blocks recommandation */
h3.boxtitle{
    font-weight: bolder;
}

p.bottomtext{
    font-weight: bolder;
    font-size: 1.1em;
}

#blockreco{
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recorow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Blocks tendances */
#blocktrend{
    min-height: 630px;
    min-width: 420px;
    max-height: 630px;
    max-width: 420px;
    border-radius: 25px;

    background-color: #F2F2F2;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.columntrend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trendtitle{
    padding: 10px;
    font-weight: bolder;
}

.blocktrend{
    height: 135px;
    width: 345px;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

.blocktrend img{
    height: 135px;
    width: 125px;
    border-radius: 15px 0px 0px 15px;
    float: left;
}

.blocktrend p{
    padding: 5px;
}

.blocktrend span.stars{
    display: flex;
}

/* Blocks activitées */
#blockact{
    margin: 10px;
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
}

.blockactlarge{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockactlarge img{
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.blockactmedium{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockactmedium img{
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.blockactsmall{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockactsmall img{
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.Column{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}