@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Basic Settings */

html {
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    color: black;
}

/* Text Bold */

.bold{
    font-weight: bold;
}

/* HyperText */

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/* Footer */
footer{
    display: flex;
    flex-direction: row;
    text-align: left;
    position: absolute;
    justify-content: space-around;
    background-color: #F2F2F2;
    left: 0;
    right: 0;
}