/*Charte - Bleu #0065FC - Bleu Clair #DEEBFF - Blocks Background Color #F2F2F2*/

/* Normalize */

    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

    /* Basic Settings */

    html {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        scroll-behavior: smooth;
    }

    body{
        margin: 50px;
        font-family: 'Raleway', sans-serif;
        background-color: white;
        color: black;
    }

    /* Text Bold */

    .bold{
        font-weight: bold;
    }

    /* HyperText */

    a{
        text-decoration: none;
        color: black;
    }

    a:visited{
        color: black;
    }

    /* Footer */
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        position: absolute;
        background-color: #F2F2F2;
        left: 0;
        right: 0;
    }

    /* Box Shadow */

    .box-shadow{
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    }

/* Navigation */
ul.nav{
    list-style-type: none;
    height: 70px;

    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

a.navlink{
    color: #0065FC;

    height: 40px;
    width: 160px;
    line-height: 90px;

    margin-right: 25px;
    margin-left: 25px;
    right: 0;
    top: 0;
}

li#active{
    border-top: 2px solid #0065FC;
}

li#inactive{
    border-top: 2px solid rgba(0,0,0,0);
}

/* Logo */

img.logo{
    height: 45px;
    width: 95px;
}

/* Barre de recherche */
div.searchbar{
    height: 50px;
    width: 420px;

    border: 2px solid #F2F2F2;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-bottom: 30px;

    line-height: 50px;
    text-align: center;
}

div.searchbar i{
    background-color: #F2F2F2;

    width: 50px;
    border-radius: 15px 0px 0px 15px;

    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}

div.searchbar a{
    background-color: #0065FC;
    color: white;

    font-weight: bolder;
    vertical-align: middle;

    width: 135px;
    border-radius: 0px 15px 15px 0px;
}

div.searchbar a i{
display: none;
}

div.searchbar a span i{
    visibility: hidden;
}

div.searchbar a span.searchtext{
    visibility: visible;
}

div.searchbar input{
    height: 50px;
    width: 250px;
    border: 0;

    font-size: large;
    font-weight: bold;
}

div.searchbar input:focus{
    border: 0;
}

/* Filtres */
div.filter{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

div.filter p{
    font-weight: bold;
    line-height: 35px;
    margin-right: 10px;
}

span.filterico{
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 18px;

    -moz-border-radius: 50%;
    border-radius: 50%;

    background-color: #DEEBFF;
    color: #0065FC;

    text-align: center;
    display: block;
}

span.filterico:hover{
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transition-duration: 0.2s;
}

.filter-box{
    margin: 10px;
    padding-right: 10px;
    height: 45px;

    border-radius: 35px;
    border: 3px solid #F2F2F2;
    
    font-weight: bolder;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-box:hover{
    background-color: #0065FC;
    color: white;
}

/* info */
div.info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    line-height: 10px;
}

i#infoico{
    background-color: white;
    color: #0065FC;

    border: 2px solid #F2F2F2;
    border-radius: 30px;

    padding: 10px;
    margin: 5px;
    height: 5px;
    width: 5px;
    line-height: 5px;
}

/* Blocks Normalization */
div.blocksingle{
    background-color: white;

    height: 200px;
    width: 250px;

    border-radius: 20px;
    margin: 10px;
}

.blocksingle-text{
    margin: 5px;
    padding-left: 15px;
}

.blocksingle img{
    height: 116px;
    width: 238px;

    border-radius: 15px 15px 0px 0px;
    object-fit: cover;

    margin-top: 5px;
    margin-left: 6px;
    margin-right: auto;
}

#reco-trend{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stars{
    color: #0065FC;
    font-size: 13px;
}

/* Blocks recommandation */
h3.boxtitle{
    font-weight: bolder;
}

p.bottomtext{
    font-weight: bolder;
    font-size: 18px;
}

#blockreco{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 600px;
    max-height: 600px;
    min-width: 800px;
    max-width: 800px;
    margin: 10px;
    border-radius: 25px;

    background-color: #F2F2F2;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recorow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Blocks tendances */
#blocktrend{
    min-height: 630px;
    min-width: 420px;
    max-height: 630px;
    max-width: 420px;
    margin: 20px;
    border-radius: 25px;

    background-color: #F2F2F2;
    overflow: hidden;
    position: relative;
}

.columntrend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.trend-title-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

div.trend-title-box i{
    font-size: x-large;
    margin-top: 25px;
    margin-right: 25px;
}

h3.trendtitle{
    margin-top: 30px;
    margin-left: 25px;
}

.blocktrend{
    background-color: white;

    margin: auto;
    height: 145px;
    width: 345px;
    margin-bottom: 20px;

    border-radius: 15px;
}

.blocktrend img{
    height: 135px;
    width: 125px;
    margin: 5px;
    border-radius: 15px 0px 0px 15px;

    object-fit: cover;
    float: left;
}

.blocktrend p{
    padding: 5px;
}

.blocktrend span.stars{
    display: flex;
}

/* Blocks activitées */
#blockact{
    margin: 10px;
    height: auto;
    width: auto;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.img-act-normalize{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.p-act-normalize{
    padding-left: 15px;
    font-weight: bold;
}

.blockactlarge{
    margin: 5px;
    height: 450px;
    width: 300px;
    border-radius: 15px;

    background-color: white;
    
    display: flex;
    flex-direction: column;
}

.blockactlarge img{
    height: 400px;
    width: 300px;
}

.blockactmedium{
    margin: 5px;
    height: 240px;
    width: 300px;
    border-radius: 15px;

    background-color: white;
    display: flex;
    flex-direction: column;
}

.blockactmedium img{
    height: 190px;
    width: 300px;
}

.blockactsmall{
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 15px;

    background-color: white;
    display: flex;
    flex-direction: column;
}

.blockactsmall img{
    height: 150px;
    width: 300px;
}

.Column{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-between;
}